@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*="_icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*="_icon-"]::before {
  display: block;
}

._icon-coach:before {
  content: "\e900";
}

._icon-date:before {
  content: "\e901";
}

._icon-group:before {
  content: "\e903";
}

._icon-insta:before {
  content: "\e904";
}

._icon-interior:before {
  content: "\e905";
}

._icon-location:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  color: #000;
  line-height: 1;
  font-family: "Lato";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 143px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

._uptitle {
  color: #E7490F;
  font-weight: 900;
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

._title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(46 / 36 * 100%);
}

._btn {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #E7490F;
  -webkit-transition: background-color 0.4s ease 0s;
  -o-transition: background-color 0.4s ease 0s;
  transition: background-color 0.4s ease 0s;
}

._trans-btn {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E7490F;
  border: 1px solid #E7490F;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease 0s, background .5s ease 0s;
  -o-transition: color 0.5s ease 0s, background .5s ease 0s;
  transition: color 0.5s ease 0s, background .5s ease 0s;
}

._neon::before {
  width: 334px;
  height: 334px;
  border-radius: 50%;
  background: rgba(231, 73, 15, 0.7);
  -webkit-filter: blur(195px);
          filter: blur(195px);
}

.error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-message__icon {
  margin-right: 12px;
}

.error-message span {
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  color: #EE0000;
}

.header {
  background-color: #030300;
  padding: 30px 0 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 90px;
}

.header__contacts {
  margin-right: auto;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 14px;
}

.header__location ._icon-location {
  padding-right: 8px;
  font-size: 24px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.header__location span {
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.header__insta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 14px;
  border: 1px solid #858585;
  -webkit-transition: border-color 0.4s ease 0s;
  -o-transition: border-color 0.4s ease 0s;
  transition: border-color 0.4s ease 0s;
}

.header__insta ._icon-insta {
  color: white;
  font-size: 20px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  padding-right: 12px;
}

.header__insta span {
  color: white;
  font-size: 16px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.header__actions {
  margin-left: 25px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.header__phone ._icon-phone {
  color: white;
  font-size: 24px;
  padding-right: 9px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.header__phone span {
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  color: white;
}

.header__btn {
  width: 183px;
  font-size: 14px;
  height: 44px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li:not(:last-child) {
  margin-right: 20px;
}

.header__list a {
  color: white;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  font-size: 16px;
}

.header__mobile-btn {
  display: none;
}

.mobile-header {
  display: none;
}

.mobile-header__burger {
  position: relative;
  z-index: 101;
}

.mobile-header__burger::before {
  content: '';
  width: 0;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 14px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: width 0.4s ease 0s, -webkit-transform .6s ease;
  transition: width 0.4s ease 0s, -webkit-transform .6s ease;
  -o-transition: width 0.4s ease 0s, transform .6s ease;
  transition: width 0.4s ease 0s, transform .6s ease;
  transition: width 0.4s ease 0s, transform .6s ease, -webkit-transform .6s ease;
}

.mobile-header__burger::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: 14px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: width 0.4s ease 0s, -webkit-transform .6s ease;
  transition: width 0.4s ease 0s, -webkit-transform .6s ease;
  -o-transition: width 0.4s ease 0s, transform .6s ease;
  transition: width 0.4s ease 0s, transform .6s ease;
  transition: width 0.4s ease 0s, transform .6s ease, -webkit-transform .6s ease;
}

.mobile-header__burger svg {
  -webkit-transition: opacity 0.35s ease 0s;
  -o-transition: opacity 0.35s ease 0s;
  transition: opacity 0.35s ease 0s;
}

.mobile-header__burger._active::before {
  width: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-header__burger._active::after {
  width: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-header__burger._active svg {
  opacity: 0;
}

.mobile-header__phone {
  font-size: 28px;
  color: white;
  margin-left: 18px;
  position: relative;
  z-index: 101;
}

.mobile-header__insta {
  font-size: 28px;
  color: white;
  margin-left: 18px;
  position: relative;
  z-index: 101;
}

.mobile-header__location {
  font-size: 28px;
  color: white;
  margin-left: 18px;
  position: relative;
  z-index: 101;
}

.mobile-header__info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1D1D1D;
  z-index: 100;
  padding: 175px 15px 40px;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.mobile-header__info._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.mobile-header__list li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-header__list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-header__list a [class^=_icon] {
  color: #E7490F;
  font-size: 28px;
  padding-right: 16px;
}

.mobile-header__list a span {
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  color: white;
}

.mobile-header__tel {
  margin-top: 60px;
  margin-bottom: 20px;
  line-height: calc(22 / 18 * 100%);
  color: white;
  display: inline-block;
}

.mobile-header__city {
  line-height: calc(22 / 18 * 100%);
  color: white;
}

.intro__body {
  position: relative;
}

.intro__prev {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  cursor: pointer;
  z-index: 10;
}

.intro__next {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  cursor: pointer;
  z-index: 10;
}

.intro__next path,
.intro__prev path {
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  fill: white;
}

.intro__pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.intro__pagination span {
  opacity: 1;
  width: 12px;
  height: 12px;
  border: 1px solid #757575;
  border-radius: 0;
  -webkit-transition: border-color 0.4s ease 0s, background-color .4s ease;
  -o-transition: border-color 0.4s ease 0s, background-color .4s ease;
  transition: border-color 0.4s ease 0s, background-color .4s ease;
}

.intro__pagination span.swiper-pagination-bullet-active {
  background-color: #E7490F;
  border-color: #E7490F;
}

.intro__pagination span:not(:last-child) {
  margin: 0 15px 0 0 !important;
}

.slide-intro {
  min-height: 625px;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide-intro__mobile {
  display: none;
}

.slide-intro ._container {
  height: 100%;
  min-height: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-intro__body {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-intro__title {
  font-weight: 900;
  font-size: 48px;
  line-height: calc(68 / 48 * 100%);
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-bottom: 10px;
}

.slide-intro__title span {
  color: #E7490F;
}

.slide-intro__text {
  line-height: 144%;
  color: #FFFFFF;
  display: inline-block;
}

.about {
  padding: 120px 0 200px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center bottom 20px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.about__body::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 160px;
  z-index: 1;
}

.about__content {
  color: white;
  padding-right: 125px;
}

.about__uptitle {
  margin-bottom: 10px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  line-height: 144%;
}

.about__img {
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}

.about__img::before {
  content: '';
  width: 45px;
  height: 40px;
  background-color: #E7490F;
  position: absolute;
  bottom: 0;
  right: 65px;
  z-index: 1;
}

.about__img::after {
  right: -40px;
  bottom: 110px;
  position: absolute;
  width: 40px;
  height: 45px;
  background-color: #E7490F;
  z-index: 1;
  content: '';
}

.benefit {
  padding: 120px 0;
  background-color: white;
}

.benefit__uptitle {
  margin-bottom: 10px;
}

.benefit__title {
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

.benefit__title::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 25px;
  width: 100%;
  z-index: -1;
  background-color: #FDEDE7;
}

.benefit__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  counter-reset: numbers;
}

.item-benefit__top {
  position: relative;
  margin-bottom: 30px;
}

.item-benefit__img {
  position: relative;
}

.item-benefit__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-benefit__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 73, 15, 0.7);
}

.item-benefit__number {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 128px;
  height: 128px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-benefit__number::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 21px;
  background-color: black;
}

.item-benefit__number::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 21px;
  width: 3px;
  background-color: black;
}

.item-benefit__number span {
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
  color: #E7490F;
  position: relative;
}

.item-benefit__number span::before {
  counter-increment: numbers;
  content: counter(numbers);
  font-family: "Gotham Pro";
  font-style: italic;
  font-weight: 900;
  font-size: 130px;
  color: rgba(196, 196, 196, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-benefit__title {
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28 * 100%);
  margin-bottom: 15px;
}

.item-benefit__text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
}

.program {
  padding: 185px 0 200px;
  background-repeat: no-repeat;
  background-position: left top 32%;
  position: relative;
  margin-bottom: -40px;
  margin-top: -65px;
}

.program::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  -webkit-transform: skew(0, -3.67deg);
      -ms-transform: skew(0, -3.67deg);
          transform: skew(0, -3.67deg);
}

.program__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}

.program__flex::before {
  position: absolute;
  top: 0px;
  right: 120px;
  content: '';
  width: 350px;
  height: 350px;
}

.program__content {
  color: white;
  max-width: 540px;
  padding-right: 30px;
}

.program__uptitle {
  margin-bottom: 10px;
}

.program__title {
  margin-bottom: 30px;
}

.program__text {
  line-height: calc(26 / 18 * 100%);
}

.program__img {
  margin-top: 100px;
  position: relative;
  padding-bottom: 40px;
}

.program__img::before {
  width: 45px;
  height: 40px;
  content: '';
  position: absolute;
  bottom: 0;
  right: 65px;
  background-color: #E7490F;
}

.program__img::after {
  right: -40px;
  bottom: 110px;
  position: absolute;
  width: 40px;
  height: 45px;
  background-color: #e7490f;
  z-index: 1;
  content: '';
}

.program__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 80px;
}

.program__btn {
  width: 350px;
  font-size: 16px;
  margin: 0 auto;
}

.item-program {
  background-color: #070707;
  padding: 30px 20px;
}

.item-program__img {
  margin-bottom: 20px;
}

.item-program__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-program__title {
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  color: white;
  margin-bottom: 15px;
}

.item-program__text {
  font-size: 16px;
  line-height: 150%;
  color: #7F7F7F;
  margin-bottom: 25px;
}

.item-program__btn {
  width: 100%;
  font-size: 14px;
}

.free {
  padding: 225px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.free__title {
  text-align: center;
  margin-bottom: 20px;
}

.free__text {
  text-align: center;
  line-height: calc(26 / 18 * 100%);
  margin-bottom: 60px;
}

.free__btn {
  width: 350px;
  margin: 0 auto;
  font-size: 16px;
}

.team {
  background-repeat: no-repeat;
  background-position: left top 32%;
  padding: 175px 0 130px;
  position: relative;
  margin-top: -50px;
  margin-bottom: -70px;
}

.team::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  -webkit-transform: skew(0, -4deg);
      -ms-transform: skew(0, -4deg);
          transform: skew(0, -4deg);
}

.team__flex {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}

.team__flex::before {
  position: absolute;
  top: -40px;
  right: 150px;
  content: '';
}

.team__content {
  padding-right: 40px;
  max-width: 540px;
}

.team__uptitle {
  margin-bottom: 10px;
}

.team__title {
  margin-bottom: 30px;
}

.team__text {
  line-height: 144%;
}

.team__img {
  margin-top: 140px;
  padding-bottom: 40px;
  position: relative;
}

.team__img::before {
  width: 45px;
  height: 40px;
  content: '';
  position: absolute;
  bottom: 0;
  right: 65px;
  background-color: #E7490F;
}

.team__img::after {
  right: -40px;
  bottom: 110px;
  position: absolute;
  width: 40px;
  height: 45px;
  background-color: #E7490F;
  z-index: 1;
  content: '';
}

.team__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.team__pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.team__pagination span {
  width: 12px;
  height: 12px;
  border-radius: 0px;
  -webkit-transition: background-color 0.4s ease 0s, border-color .4s ease;
  -o-transition: background-color 0.4s ease 0s, border-color .4s ease;
  transition: background-color 0.4s ease 0s, border-color .4s ease;
  border: 1px solid #757575;
  opacity: 1;
}

.team__pagination span:not(:last-child) {
  margin: 0 15px 0 0 !important;
}

.team__pagination span.swiper-pagination-bullet-active {
  background-color: #E7490F;
  border-color: #E7490F;
}

.item-team {
  background-color: #070707;
  padding: 30px 20px;
  position: relative;
  z-index: 2;
}

.item-team::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #E7490F;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  opacity: 0;
}

.item-team__img {
  margin-bottom: 20px;
}

.item-team__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-team__name {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  color: #FFFFFF;
}

.item-team__info {
  font-size: 16px;
  line-height: 150%;
  color: #7F7F7F;
}

.start {
  background-color: #000000;
  padding: 60px 0 120px;
  position: relative;
  overflow: hidden;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.start::before {
  content: '';
  bottom: -167px;
  left: -167px;
  position: absolute;
}

.start::after {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(231, 73, 15, 0.7);
  -webkit-filter: blur(195px);
          filter: blur(195px);
  content: '';
  position: absolute;
  top: 45%;
  right: -300px;
}

.start__title {
  text-align: center;
  position: relative;
  color: white;
  padding-bottom: 22px;
  margin-bottom: 60px;
}

.start__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  height: 2px;
  width: 165px;
  background-color: #E7490F;
}

.start__form {
  max-width: 540px;
  margin: 0 auto;
}

.start__item {
  margin-bottom: 40px;
}

.start__item label {
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
}

.start__item input {
  display: block;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  color: #757575;
  border: 1px solid #757575;
  -webkit-transition: border 0.3s ease 0s, color .3s ease 0s;
  -o-transition: border 0.3s ease 0s, color .3s ease 0s;
  transition: border 0.3s ease 0s, color .3s ease 0s;
  height: 60px;
  padding: 0 20px;
}

.start__item input._error {
  border: 1px solid #EE0000 !important;
}

.start__item input::-webkit-input-placeholder {
  font-size: 18px;
  color: #757575;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.start__item input::-moz-placeholder {
  font-size: 18px;
  color: #757575;
  -moz-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.start__item input:-ms-input-placeholder {
  font-size: 18px;
  color: #757575;
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.start__item input::-ms-input-placeholder {
  font-size: 18px;
  color: #757575;
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.start__item input::placeholder {
  font-size: 18px;
  color: #757575;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.start__item input:focus {
  color: white;
  border: 1px solid white;
}

.start__item input:focus::-webkit-input-placeholder {
  color: white;
}

.start__item input:focus::-moz-placeholder {
  color: white;
}

.start__item input:focus:-ms-input-placeholder {
  color: white;
}

.start__item input:focus::-ms-input-placeholder {
  color: white;
}

.start__item input:focus::placeholder {
  color: white;
}

.start__phone input {
  padding-left: 94px;
}

.start__wrapper {
  position: relative;
}

.start__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.start__icon {
  padding-right: 15px;
}

.start__down {
  cursor: pointer;
}

.start__btn {
  font-size: 16px;
  width: 100%;
  margin-top: 60px;
}

.interior {
  padding: 120px 0;
}

.interior__uptitle {
  margin-bottom: 10px;
}

.interior__title {
  margin-bottom: 60px;
}

.interior__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.interior__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.footer {
  background-color: black;
  padding: 120px 0 40px;
}

.footer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E7490F;
  background-color: #070707;
  margin-bottom: 40px;
}

.footer__content {
  width: 50%;
  padding: 15px 60px;
}

.footer__info {
  color: white;
  margin-bottom: 35px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__icon {
  font-size: 21px;
  color: #E7490F;
  margin-top: -1px;
  padding-right: 13px;
}

.footer__desc {
  line-height: 128%;
}

.footer__desc span {
  display: inline-block;
  line-height: 1.25;
}

.footer__desc span:not(:last-child) {
  margin-bottom: 5px;
}

.footer a.footer__desc {
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  color: white;
}

.footer__text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #858585;
}

.footer__map {
  min-height: 456px;
  width: 50%;
  border-left: 1px solid #E7490F;
}

.footer__copy {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #858585;
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 120;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.popup._open {
  opacity: 1;
  visibility: visible;
}

.popup._open .popup__content {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  max-width: 540px;
  position: relative;
  background-color: white;
  -webkit-transition: all 0.55s ease 0s;
  -o-transition: all 0.55s ease 0s;
  transition: all 0.55s ease 0s;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.popup__close {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: background 0.4s ease 0s;
  -o-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__img img._mobile {
  display: none;
}

.popup__form {
  max-width: 100%;
  padding: 30px 50px;
}

.popup__item {
  margin-bottom: 20px;
}

.popup__item label {
  color: black;
}

.popup__item input:focus {
  color: black;
  border: 1px solid black;
}

.popup__item input:focus::-webkit-input-placeholder {
  color: black;
}

.popup__item input:focus::-moz-placeholder {
  color: black;
}

.popup__item input:focus:-ms-input-placeholder {
  color: black;
}

.popup__item input:focus::-ms-input-placeholder {
  color: black;
}

.popup__item input:focus::placeholder {
  color: black;
}

.popup__btn {
  margin-top: 30px;
  margin-bottom: 15px;
}

.popup__text {
  text-align: center;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
}

.service {
  margin-top: 60px;
}

.top-service {
  margin-bottom: -43px;
}

.top-service__breadcrumbs {
  display: none;
}

.top-service__img {
  position: relative;
}

.top-service__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

.top-service__img img._mobile {
  display: none;
}

.top-service__img::before {
  height: 50%;
  width: 50%;
  content: '';
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: 1;
  background-color: #E7490F;
}

.bottom-service {
  padding-top: 105px;
  padding-bottom: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.bottom-service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.bottom-service__body {
  position: relative;
  z-index: 2;
}

.bottom-service__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.bottom-service__title {
  color: white;
}

.bottom-service__text {
  color: white;
  max-width: 700px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid #E7490F;
  font-weight: 700;
  line-height: calc(26 / 18 * 100%);
}

.bottom-service__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: 1fr;
}

.bottom-service__item {
  background: rgba(7, 7, 7, 0.8);
  border: 1px solid #E7490F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 20px 42px;
}

.bottom-service__img {
  margin-bottom: 19px;
}

.bottom-service__label {
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

.breadcrumbs {
  margin-bottom: 105px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  padding-bottom: 15px;
}

.breadcrumbs__item {
  white-space: nowrap;
  font-size: 16px;
  color: white;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: '';
  border-right: 1.5px solid #9C9C9C;
  border-bottom: 1.5px solid #9C9C9C;
  border-radius: 1px;
  width: 7.5px;
  height: 7.5px;
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs__link {
  font-size: 16px;
  color: #9C9C9C;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.info {
  margin: 120px 0 60px;
}

.top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.top-info__text {
  max-width: 540px;
  line-height: calc(26 / 18 * 100%);
}

.top-info__text:first-child {
  margin-right: 20px;
}

.bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-info__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 44.5%;
}

.bottom-info__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-info__img::before {
  content: '';
  background-image: url("../img/info/border.png");
  width: 496px;
  height: 366px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bottom-info__content {
  padding: 83px 0 83px 110px;
}

.bottom-info__title {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.bottom-info__title::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #FDEDE7;
  z-index: -1;
  bottom: -6.5px;
}

.bottom-info__text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
}

.example {
  margin-bottom: 140px;
}

.example__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.example__content {
  padding: 83px 110px 83px 0;
}

.example__title {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.example__title::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #fdede7;
  z-index: -1;
  bottom: -6.5px;
}

.example__text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
}

.example__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 32%;
}

.example__img::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: -20px;
  height: 366px;
  width: 496px;
  z-index: -1;
  background-image: url("../img/info/border.png");
}

.example__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.example__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.83);
}

.example__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.example__icon svg circle,
.example__icon svg path {
  -webkit-transition: fill 0.6s ease 0s;
  -o-transition: fill 0.6s ease 0s;
  transition: fill 0.6s ease 0s;
}

.example__icon svg circle {
  fill: #E7490F;
}

.example__icon svg path {
  fill: white;
}

.transform {
  padding-top: 120px;
  min-height: 1267px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.transform::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.transform__img {
  display: none;
}

.square {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0;
}

.square::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.square__body {
  position: relative;
  z-index: 2;
}

.square__title {
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.square__title span {
  color: #E7490F;
}

.square__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
}

.square__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square__img {
  margin-bottom: 20px;
}

.square__text {
  color: white;
  text-align: center;
  line-height: 144%;
  word-break: break-word;
}

@media (max-width: 1200px) {
  .about {
    background-image: none !important;
    padding: 120px 0;
  }

  .about__content {
    padding-right: 70px;
  }

  .about__img {
    padding-right: 40px;
  }

  .about__img::after {
    right: 0;
  }

  .program__img {
    padding-right: 40px;
  }

  .program__img::after {
    right: 0;
  }

  .free {
    background-size: cover;
  }

  .team__img {
    padding-right: 40px;
  }

  .team__img::after {
    right: 0;
  }
}

@media (max-width: 991.98px) {
  .main {
    margin-top: 128px;
  }

  ._title {
    font-size: 31px;
  }

  .header {
    padding: 25px 0;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin-right: 0px;
  }

  .header__logo img {
    width: 150px;
  }

  .header__contacts {
    display: none;
  }

  .intro__slider {
    padding-bottom: 220px;
  }

  .intro__prev {
    display: none;
  }

  .intro__next {
    display: none;
  }

  .intro__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slide-intro {
    background-size: cover;
    background-position: left -100px center;
  }

  .slide-intro ._container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .slide-intro__body {
    margin-bottom: -100px;
    max-width: 100%;
    margin-bottom: -195px;
  }

  .slide-intro__title {
    font-size: 28px;
  }

  .about {
    padding: 90px 0;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    padding-right: 0;
    margin-top: 35px;
  }

  .about__img {
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .about__img img {
    max-width: 100%;
  }

  .about__img::before {
    height: 25px;
    width: 45px;
  }

  .about__img::after {
    width: 25px;
    height: 45px;
    bottom: 65px;
  }

  .benefit {
    padding: 90px 0;
  }

  .benefit {
    padding: 60px 0;
  }

  .benefit__title {
    margin-bottom: 40px;
  }

  .benefit__title::before {
    height: 14px;
    bottom: 0;
  }

  .benefit__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .item-benefit__top {
    margin-bottom: 20px;
  }

  .item-benefit__img img {
    max-height: 350px;
  }

  .item-benefit__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .program {
    padding-top: 155px;
  }

  .program__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .program__flex {
    margin-bottom: 40px;
  }

  .program__flex::before {
    right: 70px;
  }

  .program__content {
    max-width: 100%;
    padding-right: 0;
  }

  .program__title {
    margin-bottom: 20px;
  }

  .program__img {
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 25px;
    padding-right: 25px;
  }

  .program__img img {
    max-width: 100%;
  }

  .program__img::before {
    height: 25px;
    width: 45px;
  }

  .program__img::after {
    width: 25px;
    height: 45px;
    bottom: 65px;
  }

  .program__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .item-program {
    padding: 30px 15px;
  }

  .team {
    padding: 140px 0 130px;
  }

  .team__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }

  .team__content {
    max-width: 100%;
    padding-right: 0;
  }

  .team__img::before {
    height: 25px;
    width: 45px;
  }

  .team__img::after {
    width: 25px;
    height: 45px;
    bottom: 65px;
  }

  .team__img {
    margin-bottom: 60px;
    margin-top: 0;
    padding-bottom: 25px;
    padding-right: 25px;
  }

  .team__img img {
    max-width: 100%;
  }

  .team__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .start {
    padding: 30px 0 60px;
  }

  .start::after {
    display: none;
  }

  .start__title {
    margin-bottom: 30px;
  }

  .start__title::after {
    width: 100px;
  }

  .start__form {
    max-width: 100%;
  }

  .interior {
    padding: 90px 0;
  }

  .interior__title {
    margin-bottom: 50px;
  }

  .interior__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .footer {
    padding-top: 90px;
  }

  .footer__card {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__content {
    width: 100%;
    padding: 25px 45px;
  }

  .footer__info {
    margin-bottom: 30px;
  }

  .footer__map {
    width: 100%;
    min-height: 400px;
    border-top: 1px solid #E7490F;
    border-left: none;
  }

  .service {
    margin-top: 40px;
  }

  .top-service__breadcrumbs {
    display: block;
  }

  .bottom-service {
    padding-top: 130px;
    padding-bottom: 90px;
  }

  .bottom-service__breadcrumbs {
    display: none;
  }

  .bottom-service__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .breadcrumbs {
    margin-bottom: 30px;
  }

  .breadcrumbs__item {
    color: black;
  }

  .breadcrumbs__link {
    color: #757575;
  }

  .info {
    margin-top: 60px;
  }

  .top-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 60px;
  }

  .top-info__text {
    max-width: 100%;
  }

  .top-info__text:first-child {
    margin-right: 0px;
  }

  .bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .bottom-info__img {
    padding-bottom: 0;
  }

  .bottom-info__img img {
    position: static;
    max-width: 100%;
  }

  .bottom-info__img::before {
    top: -15px;
    left: -15px;
  }

  .bottom-info__content {
    padding: 0;
    margin-bottom: 60px;
  }

  .example {
    margin-bottom: 90px;
  }

  .example {
    margin-bottom: 60px;
  }

  .example__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .example__content {
    padding: 0;
    margin-bottom: 40px;
  }

  .example__content {
    margin-bottom: 30px;
  }

  .example__img {
    padding-bottom: 0;
  }

  .example__img img {
    position: static;
    max-width: 100%;
  }

  .example__img::after {
    bottom: -15px;
    right: -15px;
  }

  .transform {
    padding-top: 90px;
    min-height: 1100px;
  }

  .square {
    padding: 90px 0;
  }

  .square__title {
    margin-bottom: 50px;
  }

  .square__title br {
    display: none;
  }

  .square__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
}

@media (max-width: 767.98px) {
  .main {
    margin-top: 178px;
  }

  ._title {
    font-size: 26px;
  }

  .header {
    padding: 0px 0 20px;
  }

  .header__body {
    padding: 30px 0 20px;
    position: relative;
  }

  .header__body::before {
    content: '';
    position: absolute;
    width: calc(100% + 30px);
    height: 100%;
    top: 0;
    left: -15px;
    z-index: 101;
    background-color: #030300;
  }

  .header__logo {
    z-index: 101;
  }

  .header__logo img {
    width: 140px;
  }

  .header__actions {
    display: none;
  }

  .header__mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 44px;
    font-size: 14px;
  }

  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slide-intro {
    background-image: none !important;
    position: relative;
    min-height: 360px;
  }

  .slide-intro br {
    display: none;
  }

  .slide-intro__mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    width: 100%;
  }

  .slide-intro__mobile img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 360px;
  }

  .slide-intro ._container {
    min-height: 360px;
  }

  .slide-intro__text {
    font-size: 16px;
  }

  .about {
    padding: 30px 0 60px;
  }

  .about__body::before {
    top: 40px;
    right: 10px;
  }

  .about__content {
    margin-top: 30px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__img {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .about__img::before {
    height: 15px;
    right: 85px;
  }

  .about__img::after {
    right: -15px;
    width: 15px;
    top: 55px;
    bottom: auto;
  }

  .benefit__title {
    margin-bottom: 50px;
  }

  .benefit__title::before {
    height: 18px;
  }

  .benefit__grid {
    grid-template-columns: 1fr;
    grid-gap: 40px 0;
  }

  .program {
    padding: 125px 0 90px;
    background-position: left top 25%;
    margin-bottom: -8px;
  }

  .program__text {
    font-size: 16px;
  }

  .program__img {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .program__img::after {
    right: -15px;
    width: 15px;
    top: 55px;
    bottom: auto;
  }

  .program__img::before {
    height: 15px;
    right: 85px;
  }

  .program__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px 0;
    margin-bottom: 60px;
  }

  .program__btn {
    width: 100%;
  }

  .item-program__img {
    margin-bottom: 25px;
  }

  .item-program__title {
    font-size: 20px;
  }

  .free {
    background-image: url("../img/free/bg-mobile.png") !important;
    padding: 125px 0;
    background-size: 375px 100.1%;
  }

  .free__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .free__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .free__text br {
    display: none;
  }

  .free__btn {
    width: 100%;
  }

  .team {
    margin-top: -7px;
    padding: 97px 0 100px;
    background-position: center top 5.25%;
  }

  .team__title {
    margin-bottom: 20px;
  }

  .team__text {
    font-size: 16px;
  }

  .team__img::before {
    height: 15px;
    right: 85px;
  }

  .team__img::after {
    right: -15px;
    width: 15px;
    top: 55px;
    bottom: auto;
  }

  .team__img {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .team__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0;
  }

  .team__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item-team {
    padding: 30px 16px;
  }

  .item-team__name {
    font-size: 20px;
  }

  .start {
    background-position: left -70px bottom -50px;
  }

  .start__item {
    margin-bottom: 30px;
  }

  .start__btn {
    margin-top: 40px;
  }

  .interior {
    padding: 60px 0;
  }

  .interior__title {
    margin-bottom: 40px;
  }

  .interior__grid {
    grid-gap: 20px 15px;
  }

  .footer {
    padding: 60px 0 20px;
  }

  .footer__card {
    margin-bottom: 20px;
  }

  .footer__content {
    padding: 25px 17px;
  }

  .footer__info {
    margin-bottom: 16px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 22px;
  }

  .footer__icon {
    padding-right: 8px;
    font-size: 18px;
  }

  .footer__desc span {
    max-width: 235px;
  }

  .footer__desc span:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__desc {
    font-size: 16px;
  }

  .footer__map {
    min-height: 300px;
  }

  .popup__close {
    width: 28px;
    height: 28px;
    top: 8px;
    right: 8px;
  }

  .popup__close svg {
    width: 15px;
    height: 15px;
  }

  .popup__form {
    padding: 30px 15px;
  }

  .popup__item label {
    margin-bottom: 15px;
  }

  .popup__btn {
    margin-bottom: 10px;
    height: 50px;
    margin-top: 30px;
  }

  .popup__text {
    font-size: 14px;
  }

  .service {
    margin-top: 23px;
  }

  .top-service {
    margin-bottom: -125px;
  }

  .top-service__img::before {
    width: 80%;
    left: -5px;
    bottom: -5px;
  }

  .bottom-service {
    padding-top: 190px;
    padding-bottom: 60px;
  }

  .bottom-service__top {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .bottom-service__title {
    margin-bottom: 15px;
  }

  .bottom-service__text {
    margin-left: 0;
    padding-left: 10px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
  }

  .bottom-service__text br {
    display: none;
  }

  .bottom-service__grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-auto-rows: auto;
  }

  .bottom-service__item {
    padding: 27px 20px 22px;
  }

  .bottom-service__img {
    margin-bottom: 24px;
  }

  .bottom-service__img img {
    width: 105%;
  }

  .bottom-service__label {
    font-size: 16px;
    font-weight: 400;
  }

  .breadcrumbs {
    margin-bottom: 13px;
  }

  .breadcrumbs__list {
    padding-bottom: 10px;
  }

  .info {
    margin-bottom: 40px;
  }

  .bottom-info__img img {
    min-height: 380px;
  }

  .bottom-info__img::before {
    height: 340px;
    width: 360px;
  }

  .bottom-info__content {
    margin-bottom: 45px;
  }

  .bottom-info__title {
    margin-bottom: 20px;
  }

  .bottom-info__title::before {
    bottom: -3px;
  }

  .example__title {
    margin-bottom: 20px;
  }

  .example__title::before {
    bottom: -3px;
  }

  .example__img img {
    min-height: 360px;
  }

  .example__img::after {
    width: 360px;
    height: 340px;
  }

  .example__icon svg {
    width: 80px;
    height: 80px;
  }

  .transform {
    padding-top: 60px;
    min-height: auto;
    background-image: none !important;
  }

  .transform__img {
    display: block;
    margin-left: -15px;
  }

  .transform__img img {
    width: calc(100% + 15px);
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .square {
    padding: 60px 0;
  }

  .square__title {
    margin-bottom: 40px;
  }

  .square__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 12.5px;
  }

  .square__img {
    margin-bottom: 10px;
  }

  .square__text {
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  ._btn:hover {
    background-color: #C03D0C;
  }

  ._trans-btn:hover {
    color: white;
    background-color: #E7490F;
  }

  .header__location:hover ._icon-location,
  .header__location:hover span {
    color: #E7490F;
  }

  .header__insta:hover {
    border-color: #E7490F;
  }

  .header__insta:hover span,
  .header__insta:hover ._icon-insta {
    color: #E7490F;
  }

  .header__phone:hover span,
  .header__phone:hover ._icon-phone {
    color: #E7490F;
  }

  .header__list a:hover {
    color: #E7490F;
  }

  .intro__prev:hover path {
    fill: #E7490F;
  }

  .intro__next:hover path {
    fill: #E7490F;
  }

  .item-team:hover::before {
    opacity: 1;
  }

  .footer a.footer__desc:hover {
    color: #E7490F;
  }

  .popup__close:hover {
    background-color: #c4c4c4;
  }

  .breadcrumbs__link:hover {
    color: white;
  }

  .example__icon:hover svg circle {
    fill: white;
  }

  .example__icon:hover svg path {
    fill: #E7490F;
  }
}

.webp .bottom-info__img::before{ background-image: url(../img/info/border.webp); }

.webp .example__img::after{ background-image: url(../img/info/border.webp); }

@media (max-width: 767.98px){

  .webp .free{ background-image: url(../img/free/bg-mobile.webp) !important; }
}